backend/poverenik/src/main/resources/data/schema/korisnik/korisnik.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://korisnik" xmlns:kor="http://korisnik"
	xmlns:rdfa="http://www.w3.org/ns/rdfa#"
	xmlns:pred="http://www.ftn.uns.ac.rs/rdf/examples/predicate/">

	<xs:element name="Korisnik">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ime" type="xs:string"/>
				<xs:element name="Prezime" type="xs:string"/>
				<xs:element name="Email" type="xs:string"/>
				<xs:element name="Lozinka" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="uloga" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
