XML_POC/data/resenje/resenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://resenje" xmlns:res="http://resenje" xmlns:tipovi="http://tipovi"
    xmlns:rdfa="http://www.w3.org/ns/rdfa#"
    xmlns:pred="http://www.ftn.uns.ac.rs/rdf/examples/predicate/">
    <xs:import namespace="http://tipovi" schemaLocation="../tipovi.xsd"/>
    <xs:element name="Resenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="res:Opis_zalbe"/>
                <xs:element ref="res:Odluka"/>
                <xs:element ref="res:Obrazlozenje"/>
                <xs:element name="Poverenik" type="res:TOsoba"/>
            </xs:sequence>
            <xs:attribute name="broj_resenja" use="required" type="xs:string"> </xs:attribute>
            <xs:attribute name="datum_resenja" type="xs:date" use="required"/>
            <xs:attribute name="tip_odluke" type="res:Tip_odluke" use="required"/>
            <xs:attribute name="id" type="xs:string" use="optional"/>
            <xs:attribute name="vocab" type="xs:string"/>
            <xs:attribute name="about" type="xs:string"/>
            <xs:attribute name="rel" type="xs:string"/>
            <xs:attribute name="href" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Opis_zalbe">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element name="Ime_zalilac">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="property"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Prezime_zalilac">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="property"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:element name="Naziv_zalilac">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="property" type="xs:string"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="Naziv_organa_vlasti" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Mesto_organa_vlasti" type="xs:string" minOccurs="0"> </xs:element>
                <xs:element name="Ulica_organa_vlasti" type="xs:string" minOccurs="0"> </xs:element>
                <xs:element name="Ulicni_broj_organa_vlasti" type="xs:string" minOccurs="0"> </xs:element>
                <xs:element name="Clan" type="xs:positiveInteger" maxOccurs="unbounded"
                    minOccurs="0"/>
                <xs:element minOccurs="0" name="Stav" type="xs:positiveInteger"
                    maxOccurs="unbounded"/>
                <xs:element minOccurs="0" name="Tacka" type="xs:positiveInteger"
                    maxOccurs="unbounded"/>
                <xs:element name="Zakon" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element minOccurs="0" name="Naziv_sluzbenog_glasnika" type="xs:string"
                    maxOccurs="unbounded"> </xs:element>
                <xs:element minOccurs="0" name="Broj_sluzbenog_glasnika" type="xs:string"
                    maxOccurs="unbounded"> </xs:element>
            </xs:sequence>
            <xs:attribute name="razlog_zalbe" type="res:Razlog_zalbe" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Odluka">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0">
                <xs:element maxOccurs="unbounded" ref="res:Nalog"/>
                <xs:element name="Odbijanje" type="xs:string"> </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="Nalog">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="rok_izvrsenja" type="xs:positiveInteger" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Obrazlozenje">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="res:Postupak_zalioca" minOccurs="0"/>
                <xs:element ref="res:Prosledjivanje_zalbe" minOccurs="0"/>
                <xs:element ref="res:Izjasnjenje_o_zalbi" minOccurs="0"/>
                <xs:element ref="res:Razlozi_odluke" minOccurs="0"/>
                <xs:element ref="res:Zalba_na_resenje" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Postupak_zalioca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Podnosenje_zalbe">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="datum_zalbe" type="xs:date" use="required"/>
                                <xs:attribute name="vocab" type="xs:string"/>
                                <xs:attribute name="about" type="xs:string"/>
                                <xs:attribute name="rel" type="xs:string"/>
                                <xs:attribute name="href" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Podnosenje_zahteva">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="datum_zahteva" type="xs:date" use="required"/>
                                <xs:attribute name="vocab" type="xs:string"/>
                                <xs:attribute name="about" type="xs:string"/>
                                <xs:attribute name="rel" type="xs:string"/>
                                <xs:attribute name="href" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Prosledjivanje_zalbe">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Clan" type="xs:positiveInteger" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element minOccurs="0" name="Stav" type="xs:positiveInteger"
                        maxOccurs="unbounded"/>
                    <xs:element minOccurs="0" name="Tacka" type="xs:positiveInteger"
                        maxOccurs="unbounded"/>
                    <xs:element name="Zakon" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="datum_prosledjivanja" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Izjasnjenje_o_zalbi">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="datum_izjasnjenja" type="xs:date"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Razlozi_odluke">
        <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
                <xs:element name="Detaljan_opis_podnetog_zahteva" type="xs:string"/>
                <xs:element name="Detaljan_opis_odgovora_na_zahtev" type="xs:string"/>
                <xs:element name="Detaljan_opis_odluke" type="xs:string"/>
                <xs:element name="Clan" type="xs:positiveInteger" maxOccurs="unbounded"
                    minOccurs="0"/>
                <xs:element minOccurs="0" name="Stav" type="xs:positiveInteger"
                    maxOccurs="unbounded"/>
                <xs:element minOccurs="0" name="Tacka" type="xs:positiveInteger"
                    maxOccurs="unbounded"/>
                <xs:element name="Zakon" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element
        default="Против овог решења није допуштена жалба већ се, у складу са Законом о управним споровима, може покренути управни спор тужбом Управном суду у Београду, у року од 30 дана од дана пријема решења. Такса на тужбу износи 390,00 динара."
        name="Zalba_na_resenje">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute default="30" name="rok_za_tuzbu" type="xs:positiveInteger"/>
                    <xs:attribute default="390.00" name="taksa_tuzbe" type="xs:double"/>
                    <xs:attribute default="Закон о управним споровима" name="zakon" type="xs:string"/>
                    <xs:attribute default="Управни суд у Београду" name="sud" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TOsoba">
        <xs:sequence>
            <xs:element name="Ime">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="property" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Prezime">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="property" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Razlog_zalbe">
        <xs:restriction base="xs:string">
            <xs:enumeration value="непоступање"/>
            <xs:enumeration value="непоступање у целости"/>
            <xs:enumeration value="непоступање у законском року"/>
            <xs:enumeration value="одбијање/одбацивање"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Tip_odluke">
        <xs:restriction base="xs:string">
            <xs:enumeration value="основана"/>
            <xs:enumeration value="неоснована"/>
            <xs:enumeration value="поништена"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
